:host {
  margin-top: 5rem;
  display: flex;
  flex: 1;
  gap: 10rem;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.middle {
  width: min(600px, 85%);
}

.aside {
  width: min(400px, 30%);

  @media (max-width: 800px) {
    display: none;
  }
}
