:host {
  display: flex;
  gap: 5rem;
  margin-top: 5rem;
  flex: 1;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.app-posts {
  width: min(600px, 85%);
}

.app-profile {
  width: min(400px, 30%);

  @media (max-width: 800px) {
    display: none;
  }
}

.app-bookmarked {
  width: min(400px, 30%);

  @media (max-width: 800px) {
    display: none;
  }
}
