<nav class="mobile-menu" (click)="handleNav()">
  <div [ngClass]="activeNav ? 'burger crossed' : 'burger'">
    <div class="div1"></div>
    <div class="div2"></div>
    <div class="div3"></div>
  </div>

  <div [ngClass]="activeNav ? 'background2' : 'background2 hidden'"></div>
  <div [ngClass]="activeNav ? 'background1' : 'background1 hidden'"></div>

  <ul [ngClass]="activeNav ? 'mobile-aside' : 'mobile-aside hidden'">
    <li><a routerLink="/home">Home</a></li>
    <li><a [routerLink]="['/profile/' + currentUserID]">Profile</a></li>
    <li><a routerLink="/groups">Groups</a></li>
    <li>
      <a a href="#" (click)="logout()">LOGOUT</a>
    </li>
  </ul>
</nav>
