<section>
  <app-searchgroups></app-searchgroups>
</section>

<section>
  <app-create-group></app-create-group>

  <h2>My Groups</h2>

  <ul class="group">
    <li class="group__item" *ngFor="let group of groups">
      <div class="group__header">
        <h3 class="group__name" [routerLink]="['/group/' + group.id]">
          {{ group.name }}
        </h3>
        <button
          *ngIf="group.role == 'owner'"
          class="group__btn"
          (click)="deleteGroup(group.id)"
        >
          Delete
        </button>
      </div>

      <div class="group__info">{{ group.membersNumber }} member/s</div>
    </li>
  </ul>

  <h3 class="no-groups" *ngIf="!groups.length">No groups to show!</h3>
</section>
