<form #createGroup="ngForm" (submit)="submitForm(createGroup)">
  <div>
    <label for="name">Name</label>
    <input
      ngModel
      type="text"
      name="name"
      id="name"
      placeholder="The name of this group is..."
    />
  </div>
  <div>
    <label for="description">Description</label>
    <textarea
      ngModel
      name="description"
      id="description"
      cols="30"
      rows="5"
      placeholder="The description of this group is..."
    ></textarea>
  </div>
  <input type="submit" value="Create" />
</form>
