<div>
  <button (click)="setEditing()">Change Password</button>
  <form
    *ngIf="isEditing"
    #changePasswordForm="ngForm"
    (submit)="changePassword(changePasswordForm)"
  >
    <div>
      <label for="confirmPassword">Old Password:</label>
      <input ngModel type="text" name="confirmPassword" id="confirmPassword" />
    </div>
    <div>
      <label for="changeField">New Password:</label>
      <input ngModel type="text" name="changeField" id="changeField" />
    </div>
    <input type="submit" value="Change" />
  </form>
</div>
