:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title {
  text-align: center;
  font-size: var(--font-size-sm);
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
}

.no-posts {
  text-align: center;
  font-size: var(--font-size-sm);
}
