<div class="background"></div>
<h2>
  {{ profile?.username }}
</h2>

<p>{{ profile?.bio }}</p>

<div class="btns">
  <button *ngIf="displayFollow()" (click)="sendFriendRequest()">
    Send Request
  </button>
  <button *ngIf="displayDeclineRequest()" (click)="declineRequest()">
    Remove Request
  </button>
  <button *ngIf="displayPendingRequest()" (click)="acceptRequest()">
    Accept Request
  </button>
  <button *ngIf="displayRemoveFriend()" (click)="removeFriend()">
    Remove Friend
  </button>
</div>

<div>
  <button [routerLink]="['/profile/' + currentUserID]" *ngIf="checkIsFriend()">
    Posts
  </button>
  <button routerLink="details" *ngIf="checkIsFriend()">Personal Details</button>
  <button routerLink="friends" *ngIf="checkIsFriend()">Friends</button>
  <button routerLink="settings" *ngIf="currentUserID == profile?.id">
    Settings
  </button>
</div>

<router-outlet></router-outlet>
