<h2 class="username">
  {{ profile?.username }}
</h2>

<p class="bio">{{ profile?.bio }}</p>

<div class="btns">
  <button
    *ngIf="displayService.displayFollow(currentUserID, profile)"
    (click)="sendFriendRequest()"
  >
    Send Request
  </button>
  <button
    *ngIf="displayService.displayRemoveRequest(currentUserID, profile)"
    (click)="declineRequest()"
  >
    Remove Request
  </button>
  <button
    *ngIf="displayService.displayAcceptRequest(currentUserID, profile)"
    (click)="acceptRequest()"
  >
    Accept Request
  </button>
  <button
    *ngIf="displayService.displayRemoveFriend(currentUserID, profile)"
    (click)="removeFriend()"
  >
    Remove Friend
  </button>
</div>

<div class="btns">
  <button
    [routerLink]="['/profile/' + profile.id]"
    *ngIf="displayService.checkIsFriend(currentUserID, profile)"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="is-active"
  >
    Posts
  </button>
  <button
    routerLink="details"
    *ngIf="displayService.checkIsFriend(currentUserID, profile)"
    routerLinkActive="is-active"
  >
    Personal Details
  </button>
  <button
    [routerLink]="['friends']"
    [id]="profile.id"
    *ngIf="displayService.checkIsFriend(currentUserID, profile)"
    routerLinkActive="is-active"
  >
    Friends
  </button>
  <button
    routerLink="requests"
    *ngIf="currentUserID == profile?.id"
    routerLinkActive="is-active"
  >
    Requests
  </button>
  <button
    routerLink="settings"
    *ngIf="currentUserID == profile?.id"
    routerLinkActive="is-active"
  >
    Settings
  </button>
</div>

<div
  class="not-friend"
  *ngIf="!displayService.checkIsFriend(currentUserID, profile)"
>
  Try befriending to see more!
</div>

<router-outlet></router-outlet>
