form {
  input {
    border: none;
    border-bottom: solid black 1px;
    font-size: var(--font-size-sm);
    outline: none;
  }
}

.search-results {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;

  li {
    display: flex;
    gap: 1rem;

    a {
      font-size: var(--font-size-sm);
    }

    button {
      font-size: var(--font-size-sm);
    }
  }
}
