* {
  font-size: var(--font-size-sm);
}

:host {
  display: flex;
  gap: 4rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: column;

  gap: 2rem;
  background-color: var(--color-tertiary);
  color: white;
  padding: 2rem;
}
