.post {
  &__article {
    padding: 2rem;
    display: flex;
    gap: 3rem;
    align-items: center;

    background-color: rgb(215, 232, 238);
  }

  &__votes {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  &__score {
    font-size: var(--font-size-xsm);
  }

  &__upvote {
    cursor: pointer;
    font-size: var(--font-size-xsm);
  }

  &__circle {
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: black;
  }

  &__downvote {
    cursor: pointer;
    font-size: var(--font-size-xsm);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid black;
  }

  &__info {
    display: flex;
    gap: 3rem;
  }

  &__title {
    font-size: var(--font-size-xsm);
    word-break: break-all;
  }

  &__creator {
    word-break: break-all;
    cursor: pointer;
    font-size: var(--font-size-xsm);
  }

  &__buttons {
    display: flex;
    gap: 1rem;
  }

  &__btn {
    color: white;
    padding: 0.5rem;
    font-size: var(--font-size-xsm);
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .edit {
    background-color: gray;
  }

  .delete {
    background-color: red;
  }

  &__paragraph {
    word-break: break-all;
    font-size: var(--font-size-xsm);
    width: 100%;
  }

  &__comments {
    cursor: pointer;
    font-size: var(--font-size-xsm);
  }
}

.form {
  display: flex;
  flex-direction: column;

  textarea {
    font-size: var(--font-size-xsm);
  }

  button {
    font-size: var(--font-size-xsm);
  }
}
