<li class="post">
  <article class="post__article">
    <div class="post__votes">
      <div class="post__vote">
        <div
          class="post__upvote"
          (click)="vote(post.id, true, this.index, post.voted)"
        >
          UP
        </div>
        <div class="post__circle"></div>
        <div
          class="post__downvote"
          (click)="vote(post.id, false, this.index, post.voted)"
        >
          DW
        </div>
      </div>

      <div class="post__score">{{ post.votes }}</div>
    </div>

    <div class="post__body">
      <div class="post__header">
        <div class="post__info">
          <h3 class="post__title">{{ post.title }}</h3>
          <div class="post__creator" [routerLink]="['/profile/' + post.userID]">
            {{ post.username }}
          </div>
        </div>

        <div *ngIf="currentUserID == post.userID" class="post__buttons">
          <button class="post__btn edit" (click)="startEditing()">Edit</button>
          <button class="post__btn delete" (click)="deleteP(post.id)">
            Delete
          </button>
        </div>
      </div>

      <div *ngIf="!post.isEditing">
        <p class="post__paragraph">{{ post.body }}</p>
      </div>

      <div *ngIf="post.isEditing">
        <form>
          <textarea
            ngModel
            class="post_paragraph"
            body="body"
            id="body"
            cols="15"
            rows="10"
            [value]="post.body"
          ></textarea>
          <input type="submit" value="Update" />
        </form>
      </div>

      <div class="post__comments" [routerLink]="['/profile/' + post.id]">
        See {{ post.commentsNumber }} comment/s
      </div>
    </div>
  </article>
</li>
