<section class="requests">
  <h2 class="requests__title">Requests sent</h2>
  <ul class="requests__list">
    <li class="requests__item" *ngFor="let r of requestsSent">
      {{ r.username }}

      <button class="btn remove" (click)="removeRequest(r.id)">Remove</button>
    </li>
  </ul>

  <div *ngIf="!requestsSent.length">No sent requests!</div>
</section>

<section class="requests">
  <h2 class="requests__title">Requests pending</h2>
  <ul class="requests__list">
    <li class="requests__item" *ngFor="let r of requestsPending">
      {{ r.username }}

      <div class="btns">
        <button class="btn accept" (click)="acceptRequest(r.id)">Accept</button>
        <button class="btn decline" (click)="declineRequest(r.id)">
          Decline
        </button>
      </div>
    </li>
  </ul>

  <div *ngIf="!requestsPending.length">No pending requests!</div>
</section>
