<form #createPostForm="ngForm" (ngSubmit)="submitForm(createPostForm)">
  <fieldset>
    <legend>Whats on your mind:</legend>
    <div>
      <label for="title">Title:</label>
      <input
        ngModel
        name="title"
        id="title"
        type="text"
        placeholder="My title..."
      />
    </div>
    <div>
      <label for="body">Content:</label>
      <textarea
        ngModel
        name="body"
        id="body"
        cols="30"
        rows="5"
        placeholder="The content of this post is..."
      ></textarea>
    </div>

    <input type="submit" value="Post" />
  </fieldset>
</form>
