<li class="post__list">
  <article class="post__article">
    <div class="post__votes">
      <div class="post__vote">
        <div class="post__upvote" (click)="vote(post.id, true, this.index)">
          UP
        </div>
        <div class="post__circle"></div>
        <div class="post__downvote" (click)="vote(post.id, false, this.index)">
          DW
        </div>
      </div>

      <div class="post__score">{{ post.votes }}</div>
    </div>

    <div class="post__body">
      <div class="post__header">
        <div class="post__info">
          <h3 class="post__title">{{ post.title }}</h3>
          <div class="post__creator">{{ post.username }}</div>
        </div>

        <div class="post__buttons">
          <button class="post__btn edit">Edit</button>
          <button class="post__btn delete">Delete</button>
        </div>
      </div>

      <p class="post__paragraph">{{ post.body }}</p>

      <div class="post__comments">See {{ post.commentsNumber }} comment/s</div>
    </div>
  </article>
</li>
