form {
  input {
    border: none;
    border-bottom: solid black 1px;
    font-size: var(--font-size-sm);
    outline: none;
  }
}

.search-results {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;

  ul {
    height: 0;
  }

  li {
    a {
      font-size: var(--font-size-sm);
    }
  }
}
