.friends {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  &__title {
    font-size: var(--font-size-sm);
  }

  &__item {
    display: flex;
    gap: 1rem;

    h3 {
      font-size: var(--font-size-sm);
    }

    button {
      font-size: var(--font-size-sm);
    }
  }

  &__empty {
    font-size: var(--font-size-sm);
  }
}
